<footer class="wrapper-footer">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="address-section">
						<%= link_to root_path, class: "logo-footer" do %>
							<%= image_tag "logo.png", height: 50 %>
						<% end %>
						<span class= "logo-name"><p>M3 VILLAGE</p></span>
						<span class="contact-txt"><p>Do you have any questions?<br>Feel free to contact us</p></span>
						<span class="footer-adress"><p>Rua do M3<br> Xai-Xai - Mozambique <br>m3restaurant.barlounge@gmail.com<br>+258 84 619 2578</p></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="links-section1">
						<p><%= link_to "About us", root_path( :anchor => "section-about-us") %></p>
						<p><%= link_to "Contact",  new_contact_path %> </p>
						<p><%= link_to "Gallery",  gallery_path %></p>
						<span class="visit-us-txt hidden-xs"><p>Come and visit us <br>Check for rooms availability</p></span>
					</div>
					
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="links-section2">
						<p><%= link_to "Restaurant & Bar", restaurant_path %></p>
						<p><%= link_to "Accomodation", accommodation_path %></p>
						<p> <%= link_to "Rooms", rooms_list_path  %></p>
						<span class="hidden-xs"><%= render 'shared/btn-book'  %></span>	
					</div>
				</div>
			</div>
			<div class="rights-reserved">
				<small>Copyright © M3Village 2018. All Rights Reserved.</small>
			</div>
		</div>
	</div>	
</footer>