<div class="navbar">
	<div class="navbar-mini">
		<div class="container">
			<div class="nav-flexbox">
				<p>Rua do Miau Miau, Xai-Xai |hello@m3village.com</p>
				<div class="nav-icons">
          <%= link_to "EN", "#", class: "active" %> | <%= link_to "PT", "#" %>
					<%= link_to "#" do %>
					    <i class="fab fa-facebook-square"></i> 
					<% end %> 
					<%= link_to "Login", "#" %>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-large">
		<div class="container">
			<div class="navbar-links">
				
					<%= link_to "About us", "#", class: "navbar-item-left"  %>
					<%= link_to "Rooms", "#", class: ""  %>
					
					 <%= link_to root_path, class: "logo" do %>
			    		<%= image_tag "logo.png", height: 60 %>
			  		<% end %>
			
					<%= link_to "Gallery", "#", class: "" %>
					<%= link_to "Contacts", "#",class: "navbar-item-right"  %>
				
			</div>
		
		</div>
		

	</div>
</div>
 



  




