<div class="results-search-content">
	
	<%= simple_form_for @booking, method: :get, :url => {:controller => 'rooms', :action => 'index'} do |f| %>
	<div class="row">
		<div class="col-md-2">
			<%= f.input :check_in_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar", value: @check_in_date}, placeholder: "Check in" %>
		</div>
		<div class="col-md-2">
			<%= f.input :check_out_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar", value: @check_out_date}, placeholder: "Check out" %>
		</div>
		<div class="col-md-2">
			<%= f.input :adult_guest, label: false,input_html: { class: 'input-icon-arrow'}, collection: Booking::ADULT_GUESTS, selected: @adult_guest  %>
		</div>
		<div class="col-md-2">
			<%= f.input :children_guest, label: false,input_html: { class: 'input-icon-arrow'}, collection: Booking::CHILDREN_GUESTS, selected: @children_guest   %>
		</div>
		<div class="col-md-4">
			<%= f.submit "CHECK AVAILABILITY", class: "btn btn-search"  %>
		</div>
	</div>
	<% end %>
</div>