<div class="results-search-content">
	<%= form_tag rooms_path, method: :get do %>
		<div class="col-xs-12 col-sm-4 col-md-2">
			<input placeholder="Check in " class="calendar input-form2" type="text" onfocus="(this.type='date')"  id="check_in">
		</div>
		 
		<div class="col-xs-12 col-sm-4 col-md-2">
			<input placeholder="Check out " class=" calendar input-form2" type="text" onfocus="(this.type='date')"  id="check_out">
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-2">
			<%= number_field_tag 'room', nil, in: 1...10, class: 'input-form2', placeholder: 'Rooms' %>
		</div>

		
		<div class="col-xs-12 col-sm-6 col-md-2">
			<%= text_field_tag 'adult', 'Adult', class: 'input-form2' %>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-2">
			<%= text_field_tag 'child', 'Child', class: 'input-form2' %>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-2">
			<%= submit_tag "SEARCH", class: "btn-search-results" %>		
		</div>
			
	<% end %>
</div>