<div class="banner-accomodation">
	<!-- DESKTOP VERSION -->
	<div class="header-textbox">
		<h1 class="heading-primary">
		<span class="main-header title-bold">MAKE YOURSELF</span> <span class="title-light">AT HOME</span>
		</h1>
		<p><span class="header-paragraph">The perfect mix of business and leisure for today's comfort-seeking traveller</span></p>
		<div class="btn-position hidden-xs hidden-sm">
			<%= render 'shared/btn-book-now'  %>
		</div>
	</div>
	<div class="search-bar">
		<div class="row">
			<div class="col-sm-2 hidden-xs hidden-sm">
				<h4><span class="search-header">SEARCH</span></h4>
				<h4><span class="search-header2">YOUR</span> <span class=" search-header2 color-orange">ROOMS</span></h4>
			</div>
			<div class="col-sm-10">
				<div class="search-content">
					<%= form_tag rooms_path, method: :get do %>
						<input placeholder="Check in " class="calendar-input" type="text" onfocus="(this.type='date')"  id="check_in"> 
						<input placeholder="Check out " class="calendar-input" type="text" onfocus="(this.type='date')"  id="check_out"> 
						<%= number_field_tag 'room', nil, in: 1...10, class: 'special_input', placeholder: 'Rooms' %>
						<%= text_field_tag 'adult', 'Adult', class: 'special_input' %>
						<%= text_field_tag 'child', 'Child', class: 'special_input' %>
						<%= submit_tag "SEARCH", class: "btn-search" %>			
					<% end %>
				</div>
			</div>
		</div>	
	</div>
</div>

















