<div class="banner-accomodation">
	<!-- DESKTOP VERSION -->
	<div class="header-textbox">
		<h1 class="heading-primary">
		<span class="main-header title-bold">MAKE YOURSELF</span> <span class="title-light">AT HOME</span>
		</h1>
		<p><span class="header-paragraph">The perfect mix of business and leisure for today's comfort-seeking traveller</span></p>
		<div class="btn-position hidden-xs hidden-sm">
			<%= render 'shared/btn-book-now'  %>
		</div>
	</div>

	<!-- Mobile search engine -->
	<div class="container hidden-sm hidden-md hidden-lg">
		<div class="mob-form-container">
			<div class="row">
				<div class="col-xs-12 hidden-md hidden-lg">
					<h4>Search your <span class="color-orange">rooms</span></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-container">
						<%= simple_form_for @booking, method: :get, :url => {:controller => 'rooms', :action => 'index'} do |f| %>
						<div class="row">
							<div class="col-xs-12">
								<%= f.input :check_in_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar"}, placeholder: "Check in" %>
							</div>
							<div class="col-xs-12">
								<%= f.input :check_out_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar"}, placeholder: "Check out" %>
							</div>
							<div class="col-xs-12">
								<%= f.input :adult_guest, label: false,input_html: { class: 'input-icon-arrow' }, collection: Booking::ADULT_GUESTS , prompt: "Adult" %>
							</div>
							<div class="col-xs-12">
								<%= f.input :children_guest, label: false,input_html: { class: 'input-icon-arrow' }, collection: Booking::CHILDREN_GUESTS , prompt: "Child" %>
							</div>
							<div class="col-xs-12">
								<%= f.submit "SEARCH", class: "btn btn-search"  %>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!-- desktop version -->
	<div class="search-bar hidden-xs">
		<div class="row">
			<div class="col-xs-12 hidden-md hidden-lg">
				<h4>SEARCH YOUR <span class="color-orange">ROOMS</span></h4>
			</div>
		</div>
		<div class="search-bar-content">
			<div class="col-md-3 hidden-xs hidden-sm">
				<h4><span class="search-header">SEARCH</span></h4>
				<h4><span class="search-header2">YOUR</span> <span class=" search-header2 color-orange rooms-header-margin">ROOMS</span></h4>
			</div>
			
			<div class="col-md-9">
				<div class="form-container">
					<%= simple_form_for @booking, method: :get, :url => {:controller => 'rooms', :action => 'index'} do |f| %>
					<div class="row">
						<div class="col-md-2">
							<%= f.input :check_in_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar"}, placeholder: "Check in" %>
						</div>
						<div class="col-md-2">
							<%= f.input :check_out_date, as: :string, required: false, label: false, input_html: {class: "datepicker input-icon-calendar"}, placeholder: "Check out" %>
						</div>
						<div class="col-md-2">
							<%= f.input :adult_guest, label: false,input_html: { class: 'input-icon-arrow' }, collection: Booking::ADULT_GUESTS , prompt: "Adult" %>
						</div>
						<div class="col-md-2">
							<%= f.input :children_guest, label: false,input_html: { class: 'input-icon-arrow' }, collection: Booking::CHILDREN_GUESTS , prompt: "Child" %>
						</div>
						<div class="col-md-2">
							<%= f.submit "SEARCH", class: "btn btn-search"  %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>		
	</div>
</div>


<div class="wrapper-stay-relexed">
	<div class="container">
		<h4>Stay relaxed. Stay productive. Stay with us.</h4>
		<hr>
		<p>We are the perfect choice for travelers who need a simple but pleasing hotel to rest, recharge and get work done. It does not matter how long your stay will be, you will absolutely enjoy the simple effectiveness of things you need most in a hotel: location, comfort and service at the best price.</p>	
	</div>
</div> 
	
<section class="wrapper-rooms">
	<div class="container">
	<h4>Our Rooms</h4>
	<hr>
	<p>With a great night’s sleep, and a hot, powerful shower, we have everything you need to get out there rested, refreshed and ready for the day. Our infrastructure offers 6 rooms with private bathroom, air conditioning, a LED flat screen TV, a minibar and a wardrobe. 
	Breakfast is also include.
</p>
	<div class="row">
			<% @rooms.each do |r| %>
			<div class="col-xs-12 col-sm-6">
				<%= render  "rooms/room", room: r %>
			</div>
			<% end %>	
		</div>
	</div>
	</div>
</section>
<section class="wrapper-rooms-gallery">
	<div class="container">
		<div class="row">			
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pillows.jpg' %>);">
					</div>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'quadro2.jpg' %>);">
					</div>					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'towels.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'whole-room.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'quadros-resized.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'couch.jpg' %>);">
					</div>					
				</div>					
		</div>	
	</div>
	<div class="foodrinks-button">
		<%= render 'shared/btn-foodrinks' %>
	</div>
</section>
<section class="wrapper-services-descrition">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Breakfast is now the smartest meal of the day.</h5>
					<p><span class="card-pub-description">We offer a huge variety of fresh, delicious items available every day, and you will see how breakfast is just one more way we make your stay great. We serve: large choice of bread, savory products (hams & cheeses), cereals, yogurts, jams, honey, fresh fruits, and drinks such as fruit juices, tea and coffee.</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'breakfast.jpg' %>);">
				</div>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Your sleep is our priority.</h5>
					<p><span class="card-pub-description">Sleep quality is assured with Paraíso mattresses from its Royal Organic Collection. An independent pocket spring technology and a 3D fabric knit made of organic cotton that provides a compelling delicate touch and a feeling of extreme softness and comfort will definitely ensure you maximum comfort during your stay.</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'sleeping.jpg' %>);">
				</div>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Treat yourself royally.</h5>
					<p><span class="card-pub-description">An energizing and invigorating shower that recreates the effect of a warm and gentle rain cascading down your body may just be the perfect way to pamper yourself. At M3 Village, we redefine the shower experience with a cool shower system that features a rain shower head and a wand hand shower, and plenty of water pressure. We also include fluffy soft towels and premium toiletries.</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'shower1.jpg' %>);">
				</div>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>High-speed connection is not a luxury. It is a necessity</h5>
					<p><span class="card-pub-description">Connectivity has become a necessity for many of us. That's why we provide free high-speed internet access in your room and throughout the hotel so that you can download that important presentation, connect with your friends, or just maket the most of the Web.</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'phone.jpg' %>);">
				</div>
				
			</div>
		</div>

	</div>

	<br>
	<br>
</section>

<div class="wrapper-opening-hours background-grey">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="contact-info-container box-border-right">
				<div class="inner-container">
					<h1>Opening Hours</h1>
					<p>From Monday to Thursdays</p>
					<p>10h00 - 23h00</p>
					<p>Friday & Saturday</p>
					<p>11h00 - 0h00</p>
				</div>
				
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="contact-info-container box-border-right">
				<div class="inner-container">
					<h1>Contact</h1>
					<p>Address: Rua do M3</p>
					<p>Xai-Xai - Mozambique</p>
					<p>T: +258 84 619 2578</p>
					<p>T: +258 86 619 2578</p>
					<!-- <p>m3restaurant.barlounge@gmail.com</p> -->
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="contact-info-container">
				<div class="inner-container">
					<h1>Reservations</h1>
					<p><span class="email">m3restaurant.barlounge@gmail.com</span></p>
					<div class="cta-rooms btn-margin-top">
						<%= link_to "CONTACT US",  restaurant_path(:anchor => "menu"), class: "btn-book" %>
					</div>

					
					<!-- <p>m3restaurant.barlounge@gmail.com</p> -->
				</div>
			</div>
		</div>
	</div>
	
</div>
















