<div class="lg-upper-page-banner gallery-banner-picture">
	<div class="banner-content">	
	</div>
</div>
<div class="picture-gallery">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="gallery-title">
					<h1>PICTURE <span class="color-orange">GALLERY</span></h1>
					<p>The universe of M3 Village in pictures</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<ul class="nav nav-pills tabs hidden-xs">
			 	<li class="active tabs-item">	<a data-toggle="pill" href="#restaurant">RESTAURANT</a></li>
			  	<li class="tabs-item"><a data-toggle="pill" href="#rooms">ROOMS</a></li>
				<li class="tabs-item"><a data-toggle="pill" href="#hotel">HOTEL</a></li>
				<li class="tabs-item"><a data-toggle="pill" href="#pub">PUB & BAR</a></li>
				<li class="tabs-item"><a data-toggle="pill" href="#beach">XAI-XAI BEACH</a></li>
			</ul>
			<div class="col-xs-12">
			
				<ul class="nav nav-pills nav-stacked hidden-sm hidden-md hidden-lg gallery-categories">
				  <li class="active category-item"><a data-toggle="pill" href="#restaurant">Restaurant</a></li>
				  <li class="category-item"><a data-toggle="pill" href="#rooms">Rooms</a></li>
				  <li class="category-item"><a data-toggle="pill" href="#hotel">Hotel</a></li>
				  <li class="category-item"><a data-toggle="pill" href="#pub">Pub & Bar</a></li>
				   <li class="category-item"><a data-toggle="pill" href="#beach">Beach</a></li>
				</ul>
				
			</div>
			<div class="col-xs-12">
			
				<div class="tab-content">
				    <div id="restaurant" class="tab-pane fade in active">
				    	<div class="row">
				    		  <div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/stake.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'stake.jpg' %>);">
				    				</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/rest3.jpeg"), data: { lightbox: "example-set", title: "M3 Village Restaurant"}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'rest3.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/lagostim.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'lagostim.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/burger.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'burger.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    	</div>
				    	<div class="row">
				    		  <div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/prawn-curry.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'prawn-curry.jpg' %>);">
				    				</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/tiramisu.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'tiramisu.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/restaurant4.jpeg"), data: { lightbox: "example-set", title: "M3 Village Restaurant"}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'restaurant4.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/grilled-chicken.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'grilled-chicken.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    	</div>
				    	<div class="row">
				    		  <div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/restaurant1.jpeg"), data: { lightbox: "example-set", title: "M3 Village Restaurant"}  do %>
				    				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'restaurant1.jpeg' %>);">
				    				</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/grilled-prawns.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'grilled-prawns.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/chamussas.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'chamussas.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/tosta-mista.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'tosta-mista.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    	</div>
				    	<div class="row">
				    		  <div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/pizza.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pizza.jpg' %>);">
				    				</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/entremeada.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'entremeada.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/grilled-fish.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'grilled-fish.jpeg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    			<div class="col-xs-12 col-sm-3">
				    				<%= link_to image_path("/assets/crepe.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				    					<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'crepe.jpg' %>);">
				    					</div>
				    				<% end %>
				    			</div>
				    	</div>
				    </div>
				    <div id="rooms" class="tab-pane fade">
					    <div class="row">
					      	  <div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/Room1.JPG"), data: { lightbox: "example-set", title: "M3 Village Suite Room"}  do %>
					      			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'Room1.JPG' %>);">
					      			</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/couch.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'couch.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/towels.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'towels.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/whole-room.jpg"), data: { lightbox: "example-set", title: "M3 Village Suite Room"}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'whole-room.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					    </div>
					    <div class="row">
					      	  <div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/quadro2.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'quadro2.jpg' %>);">
					      			</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/room2-adjus2.png"), data: { lightbox: "example-set", title: "M3 Village Suite Room"}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'room2-adjus2.png' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/pillows.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pillows.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/window-chair.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'window-chair.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					    </div>
					    <div class="row">
					      	  <div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/lavatorio.jpeg"), data: { lightbox: "example-set", title: "M3 Village Suite Room"}  do %>
					      			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'lavatorio.jpeg' %>);">
					      			</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/shower.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'shower.jpeg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/tv.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'tv.jpeg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/couch2.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'couch2.jpeg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					    </div>
					    <div class="row">
					      	  <div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/room-space.jpeg"), data: { lightbox: "example-set", title: "View to the living room"}  do %>
					      			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'room-space.jpeg' %>);">
					      			</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/mirror.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'mirror.jpeg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/quadros.jpg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'quadros.jpg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					      		<div class="col-xs-12 col-sm-3">
					      			<%= link_to image_path("/assets/room3.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
					      				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'room3.jpeg' %>);">
					      				</div>
					      			<% end %>
					      		</div>
					    </div>
				    </div>
				    <div id="hotel" class="tab-pane fade">
					    <div class="row">
			        	  	<div class="col-xs-12 col-sm-3">
			        			<%= link_to image_path("/assets/outside3.jpeg"), data: { lightbox: "example-set", title: "M3 Village entrance to rooms"}  do %>
			        			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'outside3.jpeg' %>);">
			        			</div>
			        			<% end %>
			        		</div>
			        		<div class="col-xs-12 col-sm-3">
			        			<%= link_to image_path("/assets/rooms-entrance2.jpeg"), data: { lightbox: "example-set", title: "M3 Village entrance to rooms"}  do %>
			        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'rooms-entrance2.jpeg' %>);">
			        				</div>
			        			<% end %>
			        		</div>
			        		<div class="col-xs-12 col-sm-3">
			        			<%= link_to image_path("/assets/restaurant2.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
			        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'restaurant2.jpeg' %>);">
			        				</div>
			        			<% end %>
			        		</div>
			        		<div class="col-xs-12 col-sm-3">
			        			<%= link_to image_path("/assets/rest5.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
			        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'rest5.jpeg' %>);">
			        				</div>
			        			<% end %>
			        		</div>
					    </div>
		    		    <div class="row">
		            	  	<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/entrada.jpeg"), data: { lightbox: "example-set", title: "M3 Village - Entrance to Restaurant & Bar"}  do %>
		            			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'entrada.jpeg' %>);">
		            			</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/deco-interior.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'deco-interior.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/outside2.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'outside2.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/buffet-service2.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'buffet-service2.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		    		    </div>
		    		    <div class="row">
		            	  	<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/buffet-service.jpeg"), data: { lightbox: "example-set", title: "M3 Village - Entrance to Restaurant & Bar"}  do %>
		            			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'buffet-service.jpeg' %>);">
		            			</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/restaurant4.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'restaurant4.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/restaurant1.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'restaurant1.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		            		<div class="col-xs-12 col-sm-3">
		            			<%= link_to image_path("/assets/rest1.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
		            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'rest1.jpeg' %>);">
		            				</div>
		            			<% end %>
		            		</div>
		    		    </div>
				    </div>
				    <div id="pub" class="tab-pane fade">
					    <div class="row">
				        	  <div class="col-xs-12 col-sm-3">
				        			<%= link_to image_path("/assets/bar.jpg"), data: { lightbox: "example-set", title: "M3 Village's Bar"}  do %>
				        			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'bar.jpg' %>);">
				        			</div>
				        			<% end %>
				        		</div>
				        		<div class="col-xs-12 col-sm-3">
				        			<%= link_to image_path("/assets/live-music.jpg"), data: { lightbox: "example-set", title: "M3 Village - Live music show"}  do %>
				        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'live-music.jpg' %>);">
				        				</div>
				        			<% end %>
				        		</div>
				        		<div class="col-xs-12 col-sm-3">
				        			<%= link_to image_path("/assets/pub2.jpg"), data: { lightbox: "example-set", title: "M3 Village - Pub"}  do %>
				        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pub2.jpg' %>);">
				        				</div>
				        			<% end %>
				        		</div>
				        		<div class="col-xs-12 col-sm-3">
				        			<%= link_to image_path("/assets/party2.jpg"), data: { lightbox: "example-set", title: ""}  do %>
				        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'party2.jpg' %>);">
				        				</div>
				        			<% end %>
				        		</div>
					    </div>
			    	    <div class="row">
			            	  <div class="col-xs-12 col-sm-3">
			            			<%= link_to image_path("/assets/party1.jpeg"), data: { lightbox: "example-set", title: "M3 Village's Pub"}  do %>
			            			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'party1.jpeg' %>);">
			            			</div>
			            			<% end %>
			            		</div>
			            		<div class="col-xs-12 col-sm-3">
			            			<%= link_to image_path("/assets/local-beer.jpg"), data: { lightbox: "example-set", title: "Mozambique Local Beer"}  do %>
			            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'local-beer.jpg' %>);">
			            				</div>
			            			<% end %>
			            		</div>
			            		<div class="col-xs-12 col-sm-3">
			            			<%= link_to image_path("/assets/cocktail.jpg"), data: { lightbox: "example-set", title: "M3 Village's cocktail"}  do %>
			            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'cocktail.jpg' %>);">
			            				</div>
			            			<% end %>
			            		</div>
			            		<div class="col-xs-12 col-sm-3">
			            			<%= link_to image_path("/assets/singer.jpg"), data: { lightbox: "example-set", title: "M3 Village's Pub "}  do %>
			            				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'singer.jpg' %>);">
			            				</div>
			            			<% end %>
			            		</div>
			    	    </div>
				    </div>
				    <div id="beach" class="tab-pane fade">
				    	<div class="row">
	    	        	    <div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach5.png"), data: { lightbox: "example-set", title: "M3 Village's Bar"}  do %>
	    	        			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach5.png' %>);">
	    	        			</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach6.png"), data: { lightbox: "example-set", title: "M3 Village - Live music show"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach6.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach7.png"), data: { lightbox: "example-set", title: "M3 Village - Pub"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach7.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach8.png"), data: { lightbox: "example-set", title: ""}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach8.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
		    		    </div>
		    		    <div class="row">
	    	        	    <div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach4.png"), data: { lightbox: "example-set", title: "M3 Village's Bar"}  do %>
	    	        			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach4.png' %>);">
	    	        			</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach3.png"), data: { lightbox: "example-set", title: "M3 Village - Live music show"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach3.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach2.png"), data: { lightbox: "example-set", title: "M3 Village - Pub"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach2.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach1.png"), data: { lightbox: "example-set", title: ""}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach1.png' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
		    		    </div>
		    		    <div class="row">
	    	        	    <div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach9.jpeg"), data: { lightbox: "example-set", title: "M3 Village's Bar"}  do %>
	    	        			<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach9.jpeg' %>);">
	    	        			</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach10.jpeg"), data: { lightbox: "example-set", title: "M3 Village - Live music show"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach10.jpeg' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach11.jpeg"), data: { lightbox: "example-set", title: "M3 Village - Pub"}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach11.jpeg' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
	    	        		<div class="col-xs-12 col-sm-3">
	    	        			<%= link_to image_path("/assets/beach12.jpeg"), data: { lightbox: "example-set", title: ""}  do %>
	    	        				<div class=" card gallery-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'beach12.jpeg' %>);">
	    	        				</div>
	    	        			<% end %>
	    	        		</div>
		    		    </div>
				    </div>
				</div>
			</div>
		</div>	
	</div>
</div>

