<div class="banner">
	
	<div class="heading-primary">
		<h1 class="heading-primary--main"><span class="title-bold">WELCOME TO</span> <span class="title-light">M3 VILLAGE</span></h1>
		<h3 class="heading-primary--sub">XAI-XAI | MOZAMBIQUE</h3>
		<%= link_to "ACCOMMODATION",  accommodation_path, class: "btn-banner " %>
		<%= link_to "RESTAURANT & BAR", restaurant_path, class: "btn-banner " %>
	</div>
</div>

<div class="wrapper-aboutus" id="section-about-us">
	<div class="container">
		<h4>About us</h4>
		<hr>
		<p>M3 Village Xai-Xai provides accommodation, restaurant and bar services in Xai-Xai. The property is around 11 km from View of Gap In Reef and Xai-Xai Tourist Complex. Both free WiFi and private parking are available on site. <br>
		Xai-Xai Boat Launches is 11 km from the accommodation, while Blow hole is 12 km away. <br>
		<br>
		At the guest house, the rooms are equipped with a private bathroom, air conditioning and a flat-screen TV. <br>
		<br>
		We also have a restaurant that offers a wide variety of seafood dishes, and you can also taste delicious Mozambican typical food, as dishes of International cuisines. <br>
		Our Bar provides you relaxed moments while having some drinks. In the weekends, you can have fun in the bar that provides you with live music nights.
		 </p>	

	</div>

</div>
<div class="wrapper-rooms">
	<div class="container">
		<h4>Rooms</h4>
		<p>Clean, confortable and well equiped rooms, that match your needs!</p>
		<div class="row">
			<% @rooms.each do |r| %>
			<div class="col-xs-12 col-sm-6">
				<%= render  "rooms/room", room: r %>
			</div>
			<% end %>	
		</div>
	</div>
	<div class="cta-rooms">
		<%= render 'shared/btn-book' %>	
	</div>
	
</div>
<div class="wrapper-foodrinks">
	<div class="container">
		<h4>Food & Drinks</h4>
		<p>Enjoy a broad selection of dishes representative of Mozambican and International cuisines, all carefully prepared by our chef</p>	
		<div class="row">			
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'stake.jpg' %>);">
					</div>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'seafood.jpg' %>);">
					</div>					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'crepe.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'tiramisu.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pizza.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'burger.jpg' %>);">
					</div>					
				</div>					
		</div>	
	</div>
	<div class="foodrinks-button">
		<%= render 'shared/btn-foodrinks' %>
	</div>
</div>

<div class="wrapper-reviews">
	<div class="container">
		<div class="banner-reviews">
			<div class="container">
				<h4>Reviews</h4>
				<div class="review-box">
					<div class="reviews-content">
						<%= image_tag "laura.jpg", class: "avatar-lg" %>
						<p>The Guesthouse stay was very pleasant and comfortable. The staff was very polite and helpful, the location was very convenient for getting around and many activities. If we were to travel to Xai-Xai again, we would definitely stay there again!</p>				
					</div>
					<div class="rewiew-user">
						<p class="review-username">Laura Johnson &nbsp;&nbsp;-</p><p class="review-date">September 2018</p>		
					</div>		
				</div>		 			
			</div>
		</div>
		<div class="link-reviews">
			<%= link_to "view more reviews", "#" %>
		</div>
		
	</div>

</div>
<div class="wrapper-otherservices">
	<div class="container">
		<h4>Other Services</h4>

		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Bar</h5>
					<p><span class="card-pub-description">At the end of the day, we allow you to relax and take some drinks.
					Just grab a signature cocktail, or a beer and chill.</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'cocktail.jpg' %>);">
				</div>	
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Live Music</h5>
					<p><span class="card-pub-description"> 
					We provide you with a relaxed atmosphere on the weekends with good music and nice drinks. Join us on the weekends and enjoy our warm live music evenings hosted by great singers.
					</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'live-music.jpg' %>);">
				</div>
				
			</div>
		</div>
		
	</div>

	<br>
	<br>

	
		
	
</div>







