<div class="banner">
	
	<div class="heading-primary">
		<h1 class="heading-primary--main"><span class="title-bold">WELCOME TO</span> <span class="title-light">M3 VILLAGE</span></h1>
		<h3 class="heading-primary--sub">XAI-XAI | MOZAMBIQUE</h3>
		<%= link_to "ACCOMMODATION",  accommodation_path, class: "btn-banner " %>
		<%= link_to "RESTAURANT & BAR", restaurant_path, class: "btn-banner " %>
	</div>
</div>

<div class="wrapper-aboutus" id="section-about-us">
	<div class="container">
		<h4>About us</h4>
		<hr>
		<p>M3 Village Xai-Xai provides accommodation, restaurant and bar services in Xai-Xai. The property is around 11 km from View of Gap In Reef and Xai-Xai Tourist Complex. Both free WiFi and private parking are available on site. <br>
		Xai-Xai Boat Launches is 11 km from the accommodation, while Blow hole is 12 km away. <br>
		<br>
		At the guest house, the rooms are equipped with a private bathroom, air conditioning and a flat-screen TV. <br>
		<br>
		We also have a restaurant that offers a wide variety of seafood dishes, and you can also taste delicious Mozambican typical food, as dishes of International cuisines. <br>
		Our Bar provides you relaxed moments while having some drinks. In the weekends, you can have fun in the bar that provides you with live music nights.
		 </p>	

	</div>

</div>
<div class="wapper-paralax about-you-parallax-banner">
	<div class="header-background">
		<h1>It's all about You!</h1>
	</div>
</div>
<div class="wrapper-aboutus">
	<div class="container">
		<h4>We care about you.</h4>
		<hr>
		<p>We know you travel for all kinds of reasons: for work, for fun and sometimes for both. No matter what brings you to us, you will always get our best. Our lovely staff, free high-speed internet, and good service make business effortless. But there is something about our hotel that will make you want to unwind and take some time for yourself. Maybe it is our great bar & restaurant, or our modern and cozy rooms, or simply our inviting beds for a good rest. Work and leisure have hardly mixed this well.
		 </p>	

	</div>

</div>
<div class="wapper-paralax rooms-paralax-banner">
	<div class="header-background">
		<h1>Explore our rooms.</h1>
	</div>
</div>
<div class="wrapper-rooms">
	<div class="container">
		<h4>Rooms</h4>
		<p>We'll provide you with clean, confortable and well equiped rooms, that 
			match your needs!
			With a great night’s sleep, and a hot, powerful shower, we have everything you need to get out there rested, refreshed and ready for the day. Our afro-chic modern infrastructure offers 6 rooms with private bathroom, air conditioning, a LED flat screen TV, a minibar and a separate seating area. We have: <br>
			• 4 executive sweet rooms with queen size beds <br>
			• 1 double room with with a queen size bed <br>
			• 1 double room with 2 single beds <br>

			Our guests are also offered delicious breakfast to help you kickstart the day in good shape and mood.
		</p>
		<div class="row">
			<% @rooms.each do |r| %>
			<div class="col-xs-12 col-sm-6">
				<%= render  "rooms/room", room: r %>
			</div>
			<% end %>	
		</div>
	</div>
	<div class="cta-rooms">
		<%= render 'shared/btn-book' %>	
	</div>
	
</div>
<div class="wapper-paralax food-drinks-paralax-banner">
	<div class="header-background">
		<h1>Food & Drinks.</h1>
	</div>
</div>
<div class="wrapper-foodrinks">
	<div class="container">
		<h4>Food & Drinks</h4>
		<!-- <p>Enjoy a broad selection of dishes representative of Mozambican and International cuisines, all carefully prepared by our chef</p> -->	
		<p>Good things happen around good food and drink, because we take the time to get to know each other and put life back into perspective. <br>We make it easy to do that by providing a restaurant & bar that are inviting enough to make you want to unwind and share the stories of the day. Enjoy a broad selection of dishes representative of Mozambican and International cuisines, all carefully prepared by our chef, or just grab a signature cocktail, or a beer and chill.</p>
		<div class="row">			
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'stake.jpg' %>);">
					</div>
				</div>	
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'seafood.jpg' %>);">
					</div>					
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'crepe.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'tiramisu.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pizza.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'burger.jpg' %>);">
					</div>					
				</div>					
		</div>	
	</div>
	<div class="foodrinks-button">
		<%= render 'shared/btn-foodrinks' %>
	</div>
</div>

<div class="wrapper-reviews">
	<div class="container">
		<div class="banner-reviews">
			<div class="container">
				<h4>Reviews</h4>
				<div class="review-box">
					<div class="reviews-content">
						<%= image_tag "laura.jpg", class: "avatar-lg" %>
						<p>The Guesthouse stay was very pleasant and comfortable. The staff was very polite and helpful, the location was very convenient for getting around and many activities. If we were to travel to Xai-Xai again, we would definitely stay there again!</p>				
					</div>
					<div class="rewiew-user">
						<p class="review-username">Laura Johnson &nbsp;&nbsp;-</p><p class="review-date">September 2018</p>		
					</div>		
				</div>		 			
			</div>
		</div>
		<div class="link-reviews">
			<%= link_to "view more reviews", "#" %>
		</div>
		
	</div>

</div>


<div class="wrapper-otherservices">
	<div class="container">
		<h4>Other Services</h4>

		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Bar</h5>
					<p><span class="card-pub-description">At the end of the day, we allow you to relax and take some drinks.
					Just grab a signature cocktail, or a beer and chill.
					The bar also welcomes people who want a glass of champagne or have an aperitif with friends to relax after a busy day.
				</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'cocktail.jpg' %>);">
				</div>	
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<div class="card-pub-content">
					<h5>Live Music</h5>
					<p><span class="card-pub-description"> 
					We provide you with a relaxed atmosphere on the weekends with good music and nice drinks. Join us on the weekends and enjoy our warm live music evenings hosted by great singers.
					</span></p>	
				</div>
				
			</div>
			<div class="col-xs-6">
				<div class="card-pub" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'live-music.jpg' %>);">
				</div>
				
			</div>
		</div>
		
	</div>

	<br>
	<br>

</div>







