<div class="banner-accomodation banner-restaurant">
	<!-- DESKTOP VERSION -->
	<div class="header-textbox">
		<h1 class="heading-primary">
		<span class="main-header title-bold">Food for the soul</span>.<br class="hidden-sm hidden-md hidden-lg"><span class="title-light">Food made with love. </span>
		</h1>
		<!-- <p>Winner of the best Restaurant in Gaza Region's Competion</p> -->
	</div>
</div>
<div class="wrapper-restaurant-chef">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<div class="cooker-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'cooker2.jpg' %>);">
				</div>			
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="rest-desc-container">
					<h2>M3 VILLAGE</h2>
					<h3>TASTEFUL EXPERIENCES SINCE 2006</h3>
					<p>
						When you choose to stay at M3 VILLAGE, you are also choosing to sample some of the finest cuisine Mozambique has to offer. <br>
						Drawing upon fresh seasonal ingredients and herbs from local markets, our chef creates dishes worthy of the highest standards of Mozambican cuisine. Elegant and contemporary, M3 Village's Restaurant is perfect for business lunches, romantic dinners, family meals and more. <br>
						<!-- We are committed to provide our guests with memorable dining experiences! -->

					</p>

					<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes-mob" %>
					<span class="chef-testemonial"><p>For me, cooking has always been a way of sharing. Sharing in the kitchen, certainly, but above all, sharing the table! It is precisely around this table that I want, more than ever, to attract the curiosity of my guests.</p></span>
						

						

					<!-- Good things happen around good food and drink, because we take the time to get to know each other and put life back into perspective. We make it easy to do that by providing a restaurant & bar that are inviting enough to make you want to unwind and share the stories of the day. Enjoy a broad selection of dishes representative of Mozambican and International cuisines, all carefully prepared by our chef, or just grab a signature cocktail, or a beer and chill. -->
					<span class="chef-name"><p>Tony Mendes</p></span>
					<span class="designation"><p>Our Chef</p></span>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="wrapper-winning-award">
	<div>

		<h1><%= image_tag "star2.png", alt: "M3 Village Star"%>
		 <%= image_tag "star2.png", alt: "M3 Village Star"%>
			<%= image_tag "star2.png", alt: "M3 Village Star"%> 
			<br class="hidden-md hidden-lg">
			2019 Award winner for the Best Restaurant in the Region 
			<br class="hidden-md hidden-lg">
			<%= image_tag "star2.png", alt: "M3 Village Star"%>
			<%= image_tag "star2.png", alt: "M3 Village Star"%>
			<%= image_tag "star2.png", alt: "M3 Village Star"%>
			</h1>	
		<!-- <div class="header-border">
		</div>	 -->
	</div>
	
		
</div>
<div class="wrapper-food-categories">
	<div class="container">
		<div class="food-categories-container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
					<div class="food-category-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pizza.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="food-category-description">
						<h2>PIZZA AND PASTAS</h2>
						<P>Come and enjoy our delicious pizzas and pastas made from fresh and carefully selected ingredients. <br>
						We offer a variety of options and flavors,  as well as takeaway services.
						Every Saturday we have a fantastic pizza promotion for you: Pay for one, and choose one extra free pizza!<br>
						We'll soon also provide pizza delivery services.

						</P>
						<div class="menu-cta">
							<%= link_to "OUR MENU",  restaurant_path(:anchor => "menu"), class: "btn-our-menu" %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 hidden-xs">
					<div class="food-category-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'pizza.jpg' %>);">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="food-category-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'seafood.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="food-category-description">
						<h2>SEAFOOD</h2>
						<P>Mozambique is known for its wide range of delicious shellfish and seafood. At M3 Village Restaurant, seafood is the specialty of the house. <br>
						You can choose and enjoy of fresh fish, shrimp, lobster, crab, squid and many others. Our seafood is caught daily by local fishermen on our beautiful Xai-Xai beach. 
						</P>
						<div class="menu-cta">
							<%= link_to "OUR MENU",  restaurant_path(:anchor => "menu"), class: "btn-our-menu" %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
					<div class="food-category-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'prawn-curry.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="food-category-description">
						<h2>FOOD OUTSIDE THE BOX!</h2>
						<P>M3 Village Restaurant serves breakfast, lunch, dinner and all they snacks.<br>
						You can enjoy the best of Mozambican cuisine with our unique local dishes, revisited with our Chef's personal touch in a very creative way. <br>
	
						We also offer a broad selection of International cuisines, all carefully prepared by our Chef.
						</P>
						<div class="menu-cta">
							<%= link_to "OUR MENU",  restaurant_path(:anchor => "menu"), class: "btn-our-menu" %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 hidden-xs">
					<div class="food-category-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'prawn-curry.jpg' %>);">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="wrapper-best-seller-dish section-padding-top">
	<h1>We are committed to provide our guests with memorable dining experiences!</h1>
</div>
<div class="opening-hours">
	
</div>

<div class="wrapper-menu" id="menu">
	<div class="menu-description">
		<h1>MENU</h1>
		<div class="meal-category">
			<h2>Starters</h2>
			<ul>
				<li>Savory Snacks</li>
				<span class="dish-description"><p> Samussas / Rissois/ Coxinha/  Spring Rolls(chicken/vegetables) </p></span>
				<hr>
				<li>Piripiri Prawns in a White Wine Sauce</li>
				<span class="dish-description"><p> Prawns/ White Wine Sauce/ Garlic/ Hot Spice(piripiri)</p></span>
				<hr>
				<li>Grilled Chorizo</li>
				<span class="dish-description"><p>Portuguese Chorizo/ Bread</p></span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Light Dishes</h2>
			<ul>
				<li>Ground Beef Toast</li>
				<span class="dish-description"><p> Bolognese Sauce / Bread/ Mozzarela Cheese / Chive  </p></span>
				<hr>
				<li>Ham Toast</li>
				<span class="dish-description"><p> Ham / Bread/ Mozzarela Cheese / Chive</p></span>
				<hr>
				<li>Prego Steak Roll</li>
				<span class="dish-description"><p> Beef Steak/ Wood Oven Bread </p></span>
				<hr>
				<li>Prego Steak served on a Plate</li>
				<span class="dish-description"><p> Beef Steak / Fries/ Fried Egg </p></span>
				<hr>
				<li>Soup of the day</li>
				<span class="dish-description"><p> Ask our waiters for the daily choice </p></span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Chicken</h2>
			<ul>
				<li>1/2 Grilled Chicken</li>
				<span class="dish-description"><p> Chicken / Coconut Milk / Rice / Salad/ Fried Sweat Potatos</p> </span>
				<hr>
				<li>Grilled Chicken Scallops</li>
				<span class="dish-description"><p> Chicken/ Mushrooms/ Mustard/ Cream/ Sweat Potatoes Puree or Coconut Milk Rice</p> </span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Meat</h2>
			<ul>
				<li>Mushrooms & Cream Steak</li>
				<span class="dish-description"><p> Chicken/ Mushrooms/ Mustard/ Cream/ Sauteed Vegetables or Carrot Rice </p> </span>
				<hr>
				<li>Steak Marinated in Herbs, Garlic and White Wine</li>
				<span class="dish-description"><p> Beef Steak/ Salad/ Fries/ Rice / Fried Egg</p> </span>
				<hr>
				<li>Mixed Grill Platter</li>
				<span class="dish-description"><p> Mix de carnes grelhadas(Pork Belly/ Pork Chops or Pork scallops)/ Carrot Rice / Sweet Potato Fries</p></span>
				<hr>
				<li>Grilled Pork Chops with Spices</li>
				<span class="dish-description"><p> Pork Chop/ Salad/ Sweet Potatoes Fries/ Baked Carrot Rice</p> </span>
				<hr>
				<li>Brazilian "Feijoada" </li>
				<span class="dish-description"><p> Black bean / Mixed Pork Meat/ Smoked Chourizo/ Rice/ Farofa(Manioc flour)</p> </span>
				<hr>
			</ul>
		</div>
		<!-- <div class="meal-category category-space">
			<h2>Mozambican Local Cuisine</h2>
			<ul>
				<li>Pumpkin Leaf Curry</li>
				<span class="dish-description"><p> Pumpkin Leaf / Peanuts/ Coconut Milk/ White Rice or Polenta Porridge</p> </span>
				<hr>
				<li>Free Range Chicken Peanut Sauce Curry</li>
				<span class="dish-description"><p> Free Range Chicken/ Peanuts / Coconut Milk / Rice or Polenta Porridge</p> </span>
				<hr>
				<li>"Tseke's" Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Tseke / Chicken Breast </p> </span>
				<hr>
				<li>Manioc or Sweet Potato "Chiguinha"</li>
				<span class="dish-description"><p> Manioc or Sweet Potato/ Peanuts</p> </span>
				<hr>
				<li>Spinach Polenta Porridge</li>
				<span class="dish-description"><p> Cornflour/ Espinafre / Garlic / Piripiri(Hot Sauce)</p> </span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Seafood</h2>
			<ul>
				<li>Coconut Milk Prawns Curry with Herbs</li>
				<span class="dish-description"><p> Prawns / Coconut Milk/ Herbs/ Plain Rice</p> </span>
				<hr>
				<li>Grilled Prawns with Lemon and Butter Sauce</li>
				<span class="dish-description"><p> Prawns/ Lemon/ Butter / Salad/ Fries</p> </span>
				<hr>
				<li>Grilled Fish Marinated in Green Sauce</li>
				<span class="dish-description"><p> Fish(Catch of the Day)/ Green Sauce / Boiled Potatoes / Tomato Salad</p> </span>
				<hr>
				<li>Fish and Prawns Combo Platter </li>
				<span class="dish-description"><p> Fish/ Prawns/ Rice / Fries/ Salad</p> </span>
				<hr>
				<li>Fish and Calamar Combo Platter</li>
				<span class="dish-description"><p> Fish/ Calamar / Rice / Fries/ Salad</p></span>
				<li>Grilled Calamar with Lemon and butter Sauce</li>
				<span class="dish-description"><p>  Calamar/ Butter Sauce / Rice/ Fries / Salad</p> </span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Pizza</h2>
			<ul>
				<li>Margarita Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Oregano </p> </span>
				<hr>
				<li>Mexican Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Minced Meat/ Onio/ Garlic </p> </span>
				<hr>
				<li>Portuguesa Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Chorizo/ Papper/ Olives/ Garlic</p> </span>
				<hr>
				<li>Vegetariana Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Mushrooms/ Onion/ Pepper/ Olives/ Garlic </p> </span>
				<hr>
				<li>Stefano Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Ham/ Mushrooms/ Onion/ Pepper</p> </span>	
				<hr>
				<li>Chicken Pizza </li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Chicken Breast/ Pineapple</p></span>
	
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Dessert</h2>
			<ul>
				<li>Ice Cream</li>
				<span class="dish-description"><p>Mixed Flavors of Ice Cream(2 balls)</p> </span>
				<hr>
				<li>M3 Dessert</li>
				<span class="dish-description"><p>Egg Pudding/ Homemade Caramel Sauce / Vanila Ice cream</p> </span>
			</ul>
		</div> -->
	</div>
</div>
<div class="wrapper-menu menu-padding-top">
	<div class="menu-description">
	
		<div class="meal-category category-space">
			<h2>Mozambican Local Cuisine</h2>
			<ul>
				<li>Pumpkin Leaf Curry</li>
				<span class="dish-description"><p> Pumpkin Leaf / Peanuts/ Coconut Milk/ White Rice or Polenta Porridge</p> </span>
				<hr>
				<li>Free Range Chicken Peanut Sauce Curry</li>
				<span class="dish-description"><p> Free Range Chicken/ Peanuts / Coconut Milk / Rice or Polenta Porridge</p> </span>
				<hr>
				<li>"Tseke's" Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Tseke / Chicken Breast </p> </span>
				<hr>
				<li>Manioc or Sweet Potato "Chiguinha"</li>
				<span class="dish-description"><p> Manioc or Sweet Potato/ Peanuts</p> </span>
				<hr>
				<li>Spinach Polenta Porridge</li>
				<span class="dish-description"><p> Cornflour/ Espinafre / Garlic / Piripiri(Hot Sauce)</p> </span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Seafood</h2>
			<ul>
				<li>Coconut Milk Prawns Curry with Herbs</li>
				<span class="dish-description"><p> Prawns / Coconut Milk/ Herbs/ Plain Rice</p> </span>
				<hr>
				<li>Grilled Prawns with Lemon and Butter Sauce</li>
				<span class="dish-description"><p> Prawns/ Lemon/ Butter / Salad/ Fries</p> </span>
				<hr>
				<li>Grilled Fish Marinated in Green Sauce</li>
				<span class="dish-description"><p> Fish(Catch of the Day)/ Green Sauce / Boiled Potatoes / Tomato Salad</p> </span>
				<hr>
				<li>Fish and Prawns Combo Platter </li>
				<span class="dish-description"><p> Fish/ Prawns/ Rice / Fries/ Salad</p> </span>
				<hr>
				<li>Fish and Calamar Combo Platter</li>
				<span class="dish-description"><p> Fish/ Calamar / Rice / Fries/ Salad</p></span>
				<li>Grilled Calamar with Lemon and butter Sauce</li>
				<span class="dish-description"><p>  Calamar/ Butter Sauce / Rice/ Fries / Salad</p> </span>
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Pizza</h2>
			<ul>
				<li>Margarita Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Oregano </p> </span>
				<hr>
				<li>Mexican Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Minced Meat/ Onio/ Garlic </p> </span>
				<hr>
				<li>Portuguesa Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Chorizo/ Papper/ Olives/ Garlic</p> </span>
				<hr>
				<li>Vegetariana Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Mushrooms/ Onion/ Pepper/ Olives/ Garlic </p> </span>
				<hr>
				<li>Stefano Pizza</li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Ham/ Mushrooms/ Onion/ Pepper</p> </span>	
				<hr>
				<li>Chicken Pizza </li>
				<span class="dish-description"><p> Tomato sauce / Mozzarela/ Chicken Breast/ Pineapple</p></span>
	
			</ul>
		</div>
		<div class="meal-category category-space">
			<h2>Dessert</h2>
			<ul>
				<li>Ice Cream</li>
				<span class="dish-description"><p>Mixed Flavors of Ice Cream(2 balls)</p> </span>
				<hr>
				<li>M3 Dessert</li>
				<span class="dish-description"><p>Egg Pudding/ Homemade Caramel Sauce / Vanila Ice cream</p> </span>
			</ul>
		</div>
	</div>
</div>