<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>M3 Village - Restaurant, Bar & Accomodation</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "<strong>M3 Village</strong> is a guesthouse that provides accommodation, restaurant, bar and pub services in Xai-Xai. The property is around 11 km from View of Gap In Reef and Xai-Xai Tourist Complex. Both free WiFi and private parking are available on site. " %>" >

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
     
    <%= render 'shared/navbar' %>  
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %> 
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    
  </body>
</html>
